<h2>Here is a live stream from {{name}}'s channel:</h2>

<div class="wrapper">
    <iframe id="streamEmbed" src="https://player.twitch.tv/?channel={{name}}&muted=true" height="<height>"
        width="<width>" frameborder="<frameborder>" scrolling="<scrolling>" allowfullscreen="<allowfullscreen>">
    </iframe>
</div>