<body id="CSGOpage">
    <div style="text-align: center">
        <span style="display: inline-block; ">
            <h1 class="pageHeader">Counterstrike: Global Offensive</h1>
        </span>
    </div>
    <div style="position: relative; float: right; left: -50%; margin: 1%">
        <span style="display: inline-block;">
            <img src="https://cdn.worldvectorlogo.com/logos/csgo.svg" style="height: 100px; width:100px">
        </span>
    </div>
    <table id="OWLteamsTable" class="table col-md-4">
        <thead>
            <tr>
                <th scope="col">Teams:</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="OWLteamsCol" scope="row">Astralis</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/6665"></img>
                </td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">NaVi</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/4608"></img></td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">Liquid</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/5973"></img>
                </td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">EnCe</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/4869"></img>
                </td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">Renegades</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/6211"></img>
                </td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">NiP</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/4411"></img>
                </td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">FaZe</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/6667"></img></td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">fnatic</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/4991"></img></td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">MiBR</th>
                <td class="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/9215"></img>
                </td>
            </tr>
            <tr>
                <th class="OWLteamsCol" scope="row">NRG</th>
                <td id="OWLteamsIconCol"><img style="height:30px"
                        src="https://static.hltv.org/images/team/logo/6673"></img>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <iframe id="CSGO" src="https://player.twitch.tv/?channel=lvpes2" height="500px" width="70%"
            frameborder="<frameborder>" scrolling="<scrolling>" allowfullscreen="<allowfullscreen>">
        </iframe>
    </div>
</body>