<div style="text-align: center">
    <span style="display: inline-block; ">
        <h1 >Counterstrike: Global Offensive</h1>
    </span>
</div>
<div style="position: relative; float: right; left: -50%; margin: 1%">
    <span style="display: inline-block;">
        <img src="https://cdn.worldvectorlogo.com/logos/csgo.svg"
            style="height: 100px; width:100px">
    </span>
</div>
<div style="margin-top: 20%">
<iframe id="CSGO" src="https://player.twitch.tv/?channel=lvpes2" height="500px" width="70%"
    frameborder="<frameborder>" scrolling="<scrolling>" allowfullscreen="<allowfullscreen>">
</iframe>
</div>