<div class="row">
    <div class="col-md-12">
        <h1>Available Games</h1>
    </div>
</div>

    <div style="background-color:#cccccc">
        <section class="about2">
            <h2>Portfolio</h2>
            <div>
                    <img src="http://popvinylworld.com/wp-content/uploads/2018/07/flat1000x1000075f.u5.jpg" style="height: 100px; width:100px">
                    <a href="https://ogbrewer.github.io/Giftastic-portfolio/">
                        <h5>Fortnite</h5>
                    </a>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41f4npQhADL._SX425_.jpg" style="height: 100px; width:100px">
                    <a href="file:///Users/olivergordonbreweriv/Desktop/MemeMatchmaker/index.html">
                        <h6>Overwatch</h6>
                    </a>
            </div>
            
        </section>
        
    </div>
     <img src="https://arbordayblog.org/wp-content/uploads/2018/06/oak-tree-sunset-iStock-477164218-1080x608.jpg" style="height: 100px; width:100px">
</body>
<div style="vertical-align:bottom">
    <footer>
        <h3>copyright</h3>
    </footer>
</div>



