<div style="text-align: center">
    <span style="display: inline-block; ">
        <h1 >Overwatch League</h1>
    </span>
</div>
<div style="position: relative; float: right; left: -50%; margin: 1%">
    <span style="display: inline-block;">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41f4npQhADL._SX425_.jpg"
            style="height: 100px; width:100px">
    </span>
</div>
<div style="margin-top: 20%">
<iframe id="mainstream" src="https://player.twitch.tv/?channel=overwatchleague&muted=true" height="500px" width="70%"
    frameborder="<frameborder>" scrolling="<scrolling>" allowfullscreen="<allowfullscreen>">
</iframe>
</div>